<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROOT" class="ch.qos.logback.core.FileAppender">
        <file>log/jersey-webapp.log</file>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level %thread %X{request} %logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="ROOT"/>
    </root>
</configuration>