<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>timeline</contextName>

    <property scope="context" name="log.pattern" value="%date %-5level [%thread] %logger{36} mdc={%mdc} - %msg%n"/>

    <appender class="ch.qos.logback.core.FileAppender" name="cassandra">
        <file>logs/cassandra.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.classic.AsyncAppender" name="cassandra-async">
        <queueSize>500</queueSize>
        <appender-ref ref="cassandra"/>
    </appender>

    <appender name="timeline" class="ch.qos.logback.core.FileAppender">
        <file>logs/timeline.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.classic.AsyncAppender" name="timeline-async">
        <queueSize>500</queueSize>
        <appender-ref ref="cassandra"/>
    </appender>

    <logger name="com.datastax.driver" additivity="false" level="ERROR">
        <appender-ref ref="cassandra-async"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="timeline-async"/>
    </root>
</configuration>