<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <contextName>example webapp</contextName>

    <property scope="context" name="log.pattern" value="%date %-5level [%thread] %logger{36} - %msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
